cuda-bindings==12.9.4
cuda-core==0.3.2
cuda-pathfinder==1.5.2
cuda-python==12.9.4
cuda-toolkit==12.8.1
cupy-cuda12x==14.0.1
dask-cuda==26.2.0
faiss-cpu==1.13.2
geopandas==1.1.3
jax-cuda12-pjrt==0.7.2
jax-cuda12-plugin==0.7.2
numba-cuda==0.22.2
numpy==2.0.2
nvidia-cuda-cccl-cu12==12.9.27
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvcc-cu12==12.5.82
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
pandas==2.2.2
pandas-datareader==0.10.0
pandas-gbq==0.30.0
pandas-stubs==2.2.2.240909
sentence-transformers==5.4.1
sklearn-pandas==2.2.0
torch==2.10.0+cu128
torchao==0.10.0
torchaudio==2.10.0+cu128
torchcodec==0.10.0+cu128
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.25.0+cu128
transformers==5.0.0

